<style>
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
</style>
<div class="white-board" ng-app="myApp">
  <ng-whiteboard
    [color]="color"
    [backgroundColor]="backgroundColor"
    [size]="size"
    (init)="onInit()"
    (clear)="onClear()"
    (imageAdded)="onImageAded()"
    (redo)="onRedo()"
    (undo)="onUndo()"
    (save)="onSave()"
  ></ng-whiteboard>
</div>
<div class="tools">
  <button (click)="save()">Save</button>

  <div class="size-dropdown">
    <button
      (click)="
        $event.preventDefault(); $event.stopPropagation(); isActive = !isActive
      "
    >
      Size
    </button>
    <ul class="dropdown" [ngClass]="{ active: isActive }">
      <li
        class="dropdown-item"
        (click)="setSize('2.5px')"
        [class.selected]="size === '2.5px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 2.5px;"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('5px')"
        [class.selected]="size === '5px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 5px;"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('10px')"
        [class.selected]="size === '10px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 10px;"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
      <li
        class="dropdown-item"
        (click)="setSize('15px')"
        [class.selected]="size === '15px'"
      >
        <svg height="100%" width="100%">
          <line
            x1="0"
            y1="50%"
            x2="100"
            y2="50%"
            style="stroke-width: 15px;"
            [ngStyle]="{ stroke: color }"
          />
        </svg>
      </li>
    </ul>
  </div>

  <button (click)="erase()">Erase</button>
  <button (click)="undo()">Undo</button>
  <button (click)="redo()">Redo</button>
  <input
    id="colorInput"
    class="color-input"
    type="color"
    [value]="color"
    (change)="color = $event.target.value"
  />
  <label
    for="colorInput"
    class="color-label"
    [ngStyle]="{ 'background-color': color }"
  ></label>

  <input
    id="backgroundInput"
    class="color-input"
    type="color"
    [value]="backgroundColor"
    (change)="backgroundColor = $event.target.value"
  />
  <label
    for="backgroundInput"
    class="color-label"
    [ngStyle]="{ 'background-color': backgroundColor }"
  ></label>

  <input
    type="file"
    class="color-input"
    id="photoInput"
    (change)="addImage($event.target)"
  />
  <label
    for="photoInput"
    class="color-label"
    [ngStyle]="{
      'background-image':
        'url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACHElEQVRYhe3XsWtUQRAG8N+G45ADJUUIFiHYaCESTArTWKRSSSVpRSvxL5A0VuJ/YorUFmlsxUKTYCVGhRRBEMHYJKjJmTyLN6fv4uVuDy+JhXMMj7f77czH7De771KhcJI2dKLZ/wUCtVxgkk7hAsYdTnwfG3hXKL5nBS4yf3iETRQ9fBMPs+NmJp/JSHzQr+bE7ljKJA0lqRbewK2scrbb7SQ1KnE65mrTQJJquINpNGK4HhXo125iGLvx/jVJL/C4UPz4haqU+SyW9F/qfn0Jo39oAPNoHgOBJuY7aeC6PtryL6wWudDez8OZAdbxAJM4HT4ZY+uZMX7nqmzBqu6l21Pu30QQP4NzyoOpEWMTgdnrEWu1kwZ6EXiO8cq58ARv8RoLuBhz44EdKIEmpgJ3AzsdMJsVElO6C7pvAstR4lE864JbqGzHcg6B3NtwpVDsB4HLXXBTGAnsSk7gXALbFXy3Vq1VYm53wfVNYCyeX7DWBbcWmOqa7papgY/KO2EI9w7B7GAmYtVjzUDbcB61wN7FK3zDllKYszFXC+zAz4FPyhuutc9jyoPnkrhcYm4usAMn0CJxH/UOHy31mOuVvI1AisXirr4izz7gKd7H+3lckys8XhaKabRVYDGD+aB8sdMWzCoFddTJt4RgDxJoCeiNo/kwaUbsOdFNbRpoWZLGMaIU1SBtF58LxUZbvoMEjttO/K/ZfwI/AfTgP/XC4sIdAAAAAElFTkSuQmCC)',
      'background-position': 'center',
      'background-size': 'cover',
      'box-shadow': 'none'
    }"
  ></label>
  <script src="https://www.webrtc-experiment.com/socket.io.js"></script>
  <script src="https://www.webrtc-experiment.com/DetectRTC.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="https://www.webrtc-experiment.com/CodecsHandler.js"></script>
  <script src="https://www.webrtc-experiment.com/BandwidthHandler.js"></script>
  <script src="https://www.webrtc-experiment.com/IceServersHandler.js"></script>
  <script src="https://www.webrtc-experiment.com/Pluginfree-Screen-Sharing/conference.js"></script>
  <!-- just copy this <section> and next script -->
  <section class="experiment" ng-controller="myCtrl">
    <section class="hide-after-join" style="text-align: center;">
      <input
        type="text"
        id="room-name"
        placeholder="Enter "
        style="width: 80%; text-align: center; display: none;"
      />
      <button id="share-screen" ng-click="captureUserMedia" class="setup">
        Share Your Screen
      </button>
    </section>

    <!-- local/remote videos container -->
    <div id="videos-container"></div>

    <section
      id="unique-token"
      style="display: none; text-align: center; padding: 20px;"
    ></section>
  </section>
  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
      $scope.name = captureUserMedia;
      function captureUserMedia(callback) {
        var video = document.createElement("video");
        video.muted = true;
        video.volume = 0;
        try {
          video.setAttributeNode(document.createAttribute("autoplay"));
          video.setAttributeNode(document.createAttribute("playsinline"));
          video.setAttributeNode(document.createAttribute("controls"));
        } catch (e) {
          video.setAttribute("autoplay", true);
          video.setAttribute("playsinline", true);
          video.setAttribute("controls", true);
        }

        if (
          navigator.getDisplayMedia ||
          navigator.mediaDevices.getDisplayMedia
        ) {
          function onGettingSteam(stream) {
            video.srcObject = stream;
            videosContainer.insertBefore(video, videosContainer.firstChild);

            addStreamStopListener(stream, function () {
              location.reload();
            });

            config.attachStream = stream;
            callback && callback();
            rotateVideo(video);

            addStreamStopListener(stream, function () {
              location.reload();
            });

            showPrivateLink();

            document.querySelector(".hide-after-join").style.display = "none";
          }

          if (navigator.mediaDevices.getDisplayMedia) {
            navigator.mediaDevices
              .getDisplayMedia({ video: true })
              .then((stream) => {
                onGettingSteam(stream);
              }, getDisplayMediaError)
              .catch(getDisplayMediaError);
          } else if (navigator.getDisplayMedia) {
            navigator
              .getDisplayMedia({ video: true })
              .then((stream) => {
                onGettingSteam(stream);
              }, getDisplayMediaError)
              .catch(getDisplayMediaError);
          }
        } else {
          if (DetectRTC.browser.name === "Chrome") {
            if (DetectRTC.browser.version == 71) {
              showErrorMessage(
                'Please enable "Experimental WebPlatform" flag via chrome://flags.'
              );
            } else if (DetectRTC.browser.version < 71) {
              showErrorMessage("Please upgrade your Chrome browser.");
            } else {
              showErrorMessage(
                "Please make sure that you are not using Chrome on iOS."
              );
            }
          }

          if (DetectRTC.browser.name === "Firefox") {
            showErrorMessage("Please upgrade your Firefox browser.");
          }

          if (DetectRTC.browser.name === "Edge") {
            showErrorMessage("Please upgrade your Edge browser.");
          }

          if (DetectRTC.browser.name === "Safari") {
            showErrorMessage(
              "Safari does NOT supports getDisplayMedia API yet."
            );
          }
        }
      }
    });
    /* on page load: get public rooms */
    var conferenceUI = conference(config);

    /* UI specific */
    var videosContainer =
      document.getElementById("videos-container") || document.body;

    document.getElementById("share-screen").onclick = function () {
      var roomName = document.getElementById("room-name") || {};
      roomName.disabled = true;
      captureUserMedia(function () {
        conferenceUI.createRoom({
          roomName:
            (roomName.value || "Anonymous") + " shared his screen with you",
        });
      });
      this.disabled = true;
    };

    function rotateVideo(video) {
      video.style[
        navigator.mozGetUserMedia ? "transform" : "-webkit-transform"
      ] = "rotate(0deg)";
      setTimeout(function () {
        video.style[
          navigator.mozGetUserMedia ? "transform" : "-webkit-transform"
        ] = "rotate(360deg)";
      }, 1000);
    }

    function showPrivateLink() {
      var uniqueToken = document.getElementById("unique-token");
      uniqueToken.innerHTML =
        '<a href="' +
        location.href +
        '" target="_blank">Copy & Share This Private Room Link</a>';
      uniqueToken.style.display = "block";
    }
  </script>
</div>
